.homePage {
  main {
    > div {
      margin-bottom: 2.5rem;
      width: 100%;
    }
  }
}

.columns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  &:first-child {
    padding-left: 2rem;
    width: 55%;
  }
  &:nth-child(2) {
    padding-right: 2rem;
    margin-left: 2rem;
    width: 45%;
  }
}
