.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 4.375rem;
  background-color: #333943;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 2rem;
    font-weight: 500;
  }

  div {
    height: 2rem;
    button {
      all: unset;
      cursor: pointer;
      font-size: 1.25rem;
      font-weight: 500;
      margin-left: 2rem;
    }
  }
}
.avatarButton {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  img {
    margin-left: 1rem;
  }
}
